{% extends 'base.html' %}


{% block content %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
	<h2 style="text-align:center;">SAT Information</h2>
	<hr/>
	</div>
</div>

<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
	<ul>
		<li>When you show up at the test center you must have a photo ID and your admission ticket.</li>
		<li>SAT Test Score Range: 400 - 1600</li>
		<li>Time: 3 hours (+50 minute optional essay)</li>
		<li>Math: 200-800</li>
		<li>Math: 25-minute No Calculator (20 Questions)| 55-minute Calculator (38 Questions)</li>
		<li>Reading and Writing: 200-800</li>
		<li>Reading and Writing: 65-minute Reading (52 Questions)| 35 Writing (44 Questions)</li>
		<li>SAT Registration Fee: $43, with Essay $54.50</li>
		<li>Score Report Fee: additional $11.25 per report</li>
	</ul>
	</div>
</div>
{% endblock %}