{% extends 'base.html' %}


{% block content %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
	<h2 style="text-align:center;">SAT Tips</h2>
	<hr/>
	</div>
</div>

<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
	<ul>
		<li>Underline important parts of the question. People often forget what the question was asking. For example a question may ask what 5x/3 is, but the person taking the test will forget while solving the problem and instead provide the value of x. Even if you find it annoying it is better to take the safe route in this situation.</li>
		<li>If you are unable to answer the question then skip it. Each question is worth an equal number of points so it is essential that you answer as many easy questions as you can.</li>
		<li>The problems get harder as you go further into the math section. Finish the easy question as fast as possible because you will need more time for the harder questions at the end.</li>
		<li>Read through all the answer choices and watch out for "trick answers". For example, the correct answer is 12,000 but the test-taker chooses option A which is 1200.</li>
		<li>In difficult geometry problems always look to cut the shapes up so you can work with them. For example, you may be given a triangle that you cannot work with. Cutting the shape down the center into 2 right triangles could lead you to the simple answer.</li>
		<li>This one may seem pretty obvious but practicing a lot will introduce to different types of problems they can ask. There are only so many different types of questions they can ask. Familiarizing yourself with the questions can compensate for your weakness in this section.</li>
		<li>There is no penalty for guessing on the new SAT. So if you really do not know then guess but only do this if you are about to run out of time and have unaswered questions.</li>
		<li>If you finish early, spend all your extra time searching for incorrect answers. That being said,  make sure you only change an answer if you KNOW it is wrong.</li>
	</ul><hr/>

	</div>
</div>
{% endblock %}