{% extends "base.html" %}


{% block content %}

<h1 style="text-align:center;">Terms and Conditions</h1>
<li>Federal law provides severe civil and criminal penalties for the unauthorized reproduction, distribution or exhibition or copyrighted content. Criminal copyright infringement is investigated by the FBI and may constitute a felony with a maximum penalty of up to five years in prison and/or a $250,000 fine.   DO NOT COPY.</li>
<li>Contact us at satpound@gmail.com if you have any questions or concerns.</li>
<li>No refunds.</li>

{% endblock %}